body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Fira Code';
}

.Post-a {
  text-decoration: none;
  color: rgb(255, 101, 101);
}

.Post-a:hover {
  color: rgb(194, 42, 42);
}

.Post-img {
  width: 33vw;
  height: 33vw;
}

.Post-tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.Post-th {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1565c0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
